*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dad0d0;
}

.divisor{
    background-color: #dad0d0;
    padding: 10px;
    margin: 0 auto;
}

.fundo{
    background-color: #006494;
    width: 660px;
    margin: 0 auto;
}

.fundo-row{
    display: flex;
    flex-direction: row;
}

.fundo-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
}

.azul{
    background-color: #ebdc0d;
    padding: 80px;
    margin: 10px;
    border-radius: 15px;
}

.alongar{
    padding-right: 279px;
}

.crescer{
    padding-bottom: 279px;
}